<!-- step section -->
<div class="consigne center-content">
    <p>Chargez un fichier au format CSV (format UTF-8 avec séparation en ';')</p>
    <p>Consultez la page d'<a href="/help">aide</a> pour plus d'informations</p>
</div>
<!-- upload section -->
<div *ngIf="!fileLoaded && !onLoad" class="button-wrapper">
    <span class="label">
        Upload CSV
    </span>

    <input type="file" name="upload" id="upload" class="upload-box" placeholder="Upload File"
        (change)="onFileSelected($event)">

</div>
<!-- loader icon -->
<div *ngIf="onLoad" class="center-content">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- confirm loaded file section + result -->
<div *ngIf="fileLoaded && !onLoad" class="center-content">
    <p class="green">Fichier chargé</p>
    <app-depenses-table></app-depenses-table>
</div>