<table>
    <thead>
        <tr>
            <td>Auteur</td>
            <td>Date</td>
            <td>Catégorie</td>
            <td>Rate</td>
            <td>Dépense</td>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let depense of depenses">
            <tr>
                <td>{{depense.getName() | titlecase}}</td>
                <td>{{depense.getDate() | date: 'dd/MM'}}</td>
                <td>{{depense.getCategory() | titlecase}}</td>
                <td>{{depense.getRate()}}</td>
                <td>{{depense.getSpent()}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<ul>
    <li *ngFor="let author of mappedDepenses | keyvalue">{{author.key | titlecase}} a dépensé {{author.value}}€.</li>
</ul>
<div *ngIf="fileLoaded">
    {{indebted | titlecase}} doit {{amountToGive}} € à {{creditor | titlecase}}.
</div>