$main_color : rgb(63, 181, 134);

body {
    font-family: Arial, Helvetica, sans-serif;

}

a {
    color: $main_color;
}

.step p {
    width: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    color: white;
    background-color: $main_color;
    font-weight: 600;
}

.main {
    margin: auto;
    padding: 10px;
    border: solid 1px grey;
    border-radius: 5px;
}



button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 16px;
    color: #ffffff;
    background-color: $main_color;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;


}

button:hover {

    color: #ffffff;
    background-color: darken($color: $main_color, $amount: 8%);

}

.center-content {
    margin: auto;
    text-align: center;
}

.center-content .green {
    color: $main_color;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: auto 10px;
}
